@defer (when breakpoint.mobileSignal()) {
<app-header />
<div class="text-black p-5 w-full">
  <router-outlet />
</div>
}@loading {
<app-loading />
}

@defer (when !breakpoint.mobileSignal()) {
<div
  class="flex bg-slate-100 overflow-y-scroll w-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white">
  <div class="flex relative w-screen">
    <app-sidemenu />

    <div class="text-black p-5 w-full">
      <router-outlet />
    </div>
  </div>
</div>
}@loading {
<app-loading />
}